// Custom
$dark: #1976d2; //- Dark primary colour
$light: #bbdefb; //- Light primary colour
$primary: #2196f3; //- Primary colour
// #FFFFFF- Text/ Icon
$danger: #ff4081; //- Error Colour
$primary-text-emphasis: #212121; //- Primary text
$secondary-text-emphasis: #757575; //- seconday text
// #BDBDBD- Divider
@import "../node_modules/bootstrap/scss/bootstrap.scss";
